<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mapper.QuestionMapper">
	
	<!-- 회원일때 -->
	<insert id="create">
		insert into sp_question (title, content, id, writer, regdate)
		values(#{title}, #{content}, #{id}, #{writer}, now())
	</insert>

	<!-- 비회원일때 -->
	<insert id="create2">
	insert into sp_question (title, content, writer, b_pwd, regdate)
		values(#{title}, #{content}, #{writer}, #{b_pwd}, now())
	</insert>

	<select id="read" resultType="QuestionVO">
		select
		bno, title, content, id, writer, b_pwd
		regdate, viewcnt, replycnt
		from
		sp_question
		where bno = #{bno}
	</select>
	


	<update id="update">
		update sp_question set title =#{title}, content
		=#{content}, updatedate=now()
		where bno = #{bno}
	</update>

	<delete id="delete">
		delete from sp_question where bno = #{bno}
	</delete>

	<select id="listAll" resultType="QuestionVO">
		 <![CDATA[
		 select 
		   bno, title, content, id, writer, regdate, viewcnt 
		 from 
		   sp_question
		 where bno > 0 
		 order by bno desc, regdate desc
		 ]]>
	</select>
	<select id="listPage" resultType="QuestionVO">
		<![CDATA[
		 select 
		   bno, title, content, id, writer, regdate, viewcnt 
		 from 
		   sp_question
		 where bno > 0 
		 order by bno desc, regdate desc
		 limit #{page}, 10
 		]]>
	</select>
	<select id="listCriteria" resultType="QuestionVO">
		 <![CDATA[
		 select 
		   bno, title, content, id, writer , regdate, viewcnt, replycnt 
		 from 
		   sp_question
		 where bno > 0 
		 order by bno desc, regdate desc
		 limit #{pageStart}, #{perPageNum}
		 ]]>
	</select>
	<select id="countPaging" resultType="int">
		 <![CDATA[
		 select 
		   count(bno) 
		 from 
		 sp_question
		 where 
		   bno > 0 
		 ]]>
	</select>
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				and title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'c'.toString()">
				and content like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'w'.toString()">
				and writer like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'tc'.toString()">
				and ( title like CONCAT('%', #{keyword}, '%') OR content
				like
				CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'cw'.toString()">
				and ( content like CONCAT('%', #{keyword}, '%') OR writer
				like
				CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'tcw'.toString()">
				and ( title like CONCAT('%', #{keyword}, '%')
				OR
				content
				like CONCAT('%', #{keyword}, '%')
				OR
				writer like CONCAT('%',
				#{keyword}, '%'))
			</if>
		</if>
	</sql>

	<select id="listSearch" resultType="QuestionVO">
		<![CDATA[  
		  select * 
		  from sp_question 
		  where bno > 0 
		]]>

		<include refid="search"></include>
  
		<![CDATA[    
		  order by bno desc
		  limit #{pageStart}, #{perPageNum}
		]]>
	</select>

	<select id="listSearchCount" resultType="int">
		<![CDATA[  
		  select count(bno) 
		  from sp_question 
		  where bno > 0 
		]]>
		<include refid="search"></include>

	</select>
	<update id="updateReplyCnt">
		update sp_question set replycnt = replycnt + #{rcnt}
		where bno = #{bno}
	</update>
	<update id="updateViewCnt">
		update sp_question set viewcnt = viewcnt +1 where bno =
		#{bno}
	</update>
	<insert id="addAttach">
		insert into sp_attach(fullname, bno) values (#{fullname}, LAST_INSERT_ID())
	</insert>


	<select id="getAttach" resultType="string">
		select fullname from sp_attach where bno = #{bno} order by regdate
	</select>


	<delete id="deleteAttach">
		delete from sp_attach where bno = #{bno}
	</delete>

	<insert id="replaceAttach">
		insert into sp_attach(fullname, bno) values (#{fullname}, #{bno})
	</insert>
	
	</mapper>